link(
  href="https://fonts.googleapis.com/css?family=Amatic+SC",
  rel="stylesheet"
)
link(
  href="https://fonts.googleapis.com/css?family=Dosis:400,600", 
  rel="stylesheet"
)
link(
  href="https://fonts.googleapis.com/css?family=Fredericka+the+Great", 
  rel="stylesheet"
)
link(
  href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700", 
  rel="stylesheet"
)
link(
  href="https://fonts.googleapis.com/css?family=Nova+Mono", 
  rel="stylesheet"
)
link(
  href="/css/design.css",
  rel="stylesheet"
)  
link(
  href="/css/font-awesome.css",
  rel="stylesheet"
)  
script( 
  language="javascript", type="text/javascript",
  src="/js/numeral/numeral.min.js"
)
script(
  language="javascript", type="text/javascript",
  src="/js/socket.io.js"
)    
script( 
  language="javascript", type="text/javascript", 
  src="/js/jquery.min.js"
) 
script( 
  language="javascript", 
  type="text/javascript", 
  src="/js/waterrower.js"
  )