form(action="/editdevice", method="post")
  .row  
    .item 
      .label Screen Name
      input(type="text", 
            class="form-control", 
            name="human", 
            placeholder="Human readable name", 
            inputmode='verbatim',
            value=device.human)
  .row
    .item 
      .label MAC Address
      input(type="text", 
            class="form-control", 
            name="mac", 
            placeholder="MAC Addres",
            inputmode='verbatim',
            readonly='readonly',
            value=device.mac)
  .row
    .item
      button(type="submit") Update
      script $( "#frmProfile" ).submit(updateDeviceInfo)
      