html
  head
    title Sessions
    include include/head.pug
  body
    include include/menu.pug
    div.row.headline 
      div.fixed40 id 
      div.fixed120 Distance 
      div.fixed120 Max. Speed 
      div.fixed120 Avg. Speed 
      div.fixed180 Start 
      div.fixed180 End 
      div.fixed60 User 
      div.fixed60 Device
      div.item Active

    each session in sessions
      div.row 
        div.fixed40 [#{session.id}] 
        div.fixed120.right #{session.distance} m 
        div.fixed120.right #{session.max_speed} m/s 
        div.fixed120.right #{session.avg_speed} m/s 
        div.fixed180 #{session.start} 
        div.fixed180 #{session.end} 
        div.fixed60
          a(href='/user/' + session.user_id) #{session.user_id} 
        div.fixed60
          a(href='/device/' + session.device_id) #{session.device_id}
        if (session.active != 0)  
          div.item Active
        else
          div.item &nbsp;
  