html
  head
    title Waterrower - Login
    include include/head.pug
  body
    .header
      .icon
        i(class="fa fa-telegram",aria-hidden="true")
      .title
        h1 Signup
    form(action="/signup", method="post")
      .row
        .item
          input(type="text", 
                class="form-control", 
                name="login",
                placeholder="Enter Your Accountname", 
                inputmode='verbatim')
      .row
        .item
          input(type="password", 
                class="form-control", 
                name="password",
                placeholder="Enter Your Password", 
                inputmode='verbatim')
      .row
        .item
          button(type="submit", class="btn btn-warning btn-lg") Create Account
      .row
        .item.small Already Member?   
          a(href="/") Login